@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,100,100italic,300italic,400italic,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic')

.icon-communication-phone:before
  content: "\e601"

.icon-communication-voicemail:before
  content: "\e602"

.icon-navigation-expand-more:before
  content: "\e5cf"

.icon-action-grade:before
  content: "\e604"

.icon-action-home:before
  content: "\e605"

.icon-action-stars:before
  content: "\e606"

.icon-action-thumb-up:before
  content: "\e607"

.icon-custom-sort:before
  content: "\e600"

.icon-custom-github:before
  content: "\e625"

.icon-custom-arrow-drop-right:before
  content: "\e60b"

.icon-custom-pie:before
  content: "\e610"

.icon-search:before
  content: "\e8b6"

body
  font-family: 'Roboto', sans-serif
  font-size: 16px
  margin: 0

.expanded, .collapsed
  transition-property: height
  transition-duration: 200ms

.expanded
  overflow: hidden

.collapsed
  height: 0 !important
  overflow: hidden

.rowHovered:hover
  background: #e0e0e0
  cursor: pointer
